/Drelution Project/Temp
/Drelution Project/Library
/Drelution Project/Packages
Drelution Project/.vs/Drelution Project/v15/Browse.VC.opendb
Drelution Project/.vs/Drelution Project/v15/.suo
Drelution Project/.vs/Drelution Project/v15/Browse.VC.db
Drelution Project/.vs/Drelution Project/v15/Server/sqlite3/db.lock
Drelution Project/.vs/Drelution Project/v15/Server/sqlite3/storage.ide
Drelution Project/.vs/Drelution Project/v15/Server/sqlite3/storage.ide-shm
Drelution Project/.vs/Drelution Project/v15/Server/sqlite3/storage.ide-wal
Drelution Project/obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
Drelution Project/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
Drelution Project/obj/Debug/Assembly-CSharp-Editor.csprojResolveAssemblyReference.cache
*.cache
